# Core libraries
flask
jupyterlab
numpy
pandas
scikit-learn
matplotlib

# Deep Learning
torch

# Hyperparameter Optimization
optuna

# Web scraping
selenium
beautifulsoup4
requests

# Timezones
pytz

# Environment variable support
python-dotenv
